*{
	margin: 0;
}
.main {
	width: 800px;
	margin: 0 auto;
	line-height: 40px;
	background-color: #ccc;
}
.mask {
	background-color: rgba(228, 183, 16, 0.2);
	position: fixed;
	z-index: 998;
	top:0;
}
.show {
	width: 200px;
	height: 150px;
	position: fixed;
	z-index: 999;
	border: 1px solid green;
	background: #fff;

}